@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');


@layer base {
    .blog p {
        @apply mt-5
    }

    .blog h2 {
        @apply text-2xl font-extrabold mt-4
    }

    .blog img {
        @apply mt-4
    }
}
.blog * {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.blog li {
    margin-bottom: 7px;
}