@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');


@layer base {
    .editor h1 {
        @apply text-3xl font-bold
    }
    .editor h2 {
        @apply text-2xl font-semibold
    }

    .editor ul {
        @apply list-disc mt-2 ml-10
    }

    .editor ol {
        @apply list-decimal mt-2 ml-10
    }
    .blog p {
        @apply mt-5
    }

    .blog h2 {
        @apply text-2xl font-extrabold mt-4
    }

    .blog img {
        @apply mt-4
    }

    .blog h1 {
        @apply text-3xl font-extrabold mt-4
    }

    .blog ul {
        @apply list-disc ml-10 mt-4
    }
}
.blog * {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.blog li {
    margin-bottom: 7px;
}

.headerBlog  {
    overflow-wrap: break-word;
}

/* 
for applying the tempaltes to the createPost component
*/
.header {
    font-size: 24px;
    font-weight: bold;
}

.unordered-list {
    list-style-type: circle;
    margin-left: 20px;
}

.ordered-list {
    list-style-type: decimal;
    margin-left: 20px;
}