@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    overflow-x: hidden;
    background-color: #f9f9fa;
}
@layer base {
    .editor h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .editor h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    .editor h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    .editor h4 {
        display: block;
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    .editor h5 {
        display: block;
        font-size: .83em;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    .editor h6 {
        display: block;
        font-size: .67em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    .editor ol {
        display: block;
        list-style-type: decimal;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }

    .editor p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }

    .editor pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0;
    }

    .editor strong {
        font-weight: bold;
    }

    .editor table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray;
    }

    .editor u {
        text-decoration: underline;
    }

    .editor ul {
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }

    .editor ul {
        @apply list-disc mt-2 ml-10
    }

    .editor ol {
        @apply list-decimal mt-2 ml-10
    }
    .blog p {
        @apply mt-5
    }

    .blog h2 {
        @apply text-2xl font-extrabold mt-4
    }

    .blog img {
        @apply mt-4
    }

    .blog h1 {
        @apply text-3xl font-extrabold mt-4
    }

    .blog ul {
        @apply list-disc ml-10 mt-4
    }
}


.blog li {
    margin-bottom: 7px;
}

.headerBlog  {
    overflow-wrap: break-word;
}

/* 
for applying the tempaltes to the createPost component
*/
.header {
    font-size: 24px;
    font-weight: bold;
}

.unordered-list {
    list-style-type: circle;
    margin-left: 20px;
}

.ordered-list {
    list-style-type: decimal;
    margin-left: 20px;
}

/* 
 making hte background blurry when the comments button is clicked
*/

/* Add this to your CSS or in a separate CSS file */
.blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px); 
    z-index: 999;
    pointer-events: none;
}